<div class="mob back_mob">
    <div class="inner bind-bg-color">
        <div class="sub_inner">
            <div class="inner_block_set">
                <div class="inner_line">
                    <div class="flip_wrapper">
                        <div class="flip"></div>
                    </div>
                </div>
                <div class="inner_block">
                    <div class="block_head">Контакты</div>
                    <div class="bind-contacts"></div>
                </div>
                <div class="inner_block bind-confirm">
                    <div class="block_head">Подтверждение посещения
                        мероприятия
                    </div>
                    <div>Для подтверждения посещения мероприятия пройдите по
                        ссылке: и заполните анкету.
                    </div>
                </div>
                <div class="inner_block">
                    <div class="block_head">Условия</div>
                    <div class="bind-conditions"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mob front_mob">
    <div class="text_zag update_to_small addition_to_phone left step_1"
         style="top: 75px; left: 390px;">
        <span>Цвет текста</span>
    </div>
    <div class="text_zag update_to_small addition_to_phone left step_2"
         style="top: 75px; left: 475px;">
        <span>Текст заголовка</span>
    </div>
    <div class="field_zag update_to_small addition_to_phone right step_1"
         style="top: 55px; left: 20px;">
        <span>Изображение логотипа</span>
    </div>
    <div class="field_usl update_to_small addition_to_phone right step_1"
         style="left: 20px; top: 129px;">
        <span>Изображение strip</span>
    </div>
    <div class="field_usl update_to_small addition_to_phone right step_2"
         style="left: -70px; top: 140px;">
        <span>Поле "Контакты"</span>
    </div>
    <div class="field_usl2 update_to_small addition_to_phone right step_1"
         style="left: 20px; top: 180px;">
        <span>Цвет фона</span>
    </div>
    <div class="field_usl2 update_to_small addition_to_phone right step_2"
         style="left: -70px; top: 250px;">
        <span>Поле "Условия"</span>
    </div>
    <div class="pre_inner">
        <div class="inner bind-bg-color">
            <div class="inner_head">
                <div class="image_wrapper bind-logo bind-bg-color"></div>
                <div class="head_name bind-name bind-head-color"></div>
                <div class="only_t2 only_t3 head_date bind-head-color">
                    Действителен до:
                    <div class=" date_wrapper bind-date bind-text-color"></div>
                </div>
            </div>
            <div class="inner_strip bind-strip bind-bg-color">
                <div class="discount_wrapper only_t2">
                    <div class="bind-discount"></div>
                    <span style="opacity: 0.8; font-size: 16px; background-color: transparent;">Скидка</span>
                </div>
            </div>
            <div class="bind-description card_description bind-text-color only_t2 only_t3"></div>
            <div class="barcode">0123456789</div>
        </div>
        <img src="/static/css/img/front_bg.png">
    </div>
</div>