{% from "macro.jinja2" import templatefield %}

{# suppress HtmlFormInputWithoutLabel #}
<div class="step_form second">
    <div class="shab_items">
        <button class="normal">
            Лицевая сторона карты
        </button>
        <div class="item">
            <div>
                <span class="spec_after">
                    Введите текст в поле рядом с логотипом
                </span>
                <input type="text" placeholder="Текст" id="name_input"
                       value="{{ template.logo_text }}">
            </div>
        </div>
        <div class="item only_t2">
            <div>
                <span class="spec_after">
                    Выберите дату и время окончания
                </span>
                <input type="text" id="discount_date_input"
                       value="{{ template.expirationDate|datetime('full') }}">

                <div style="clear: both;"></div>
            </div>
            <div>
                <span style="padding-top: 15px;">Введите размер скидки</span>
                <input type="text" id="discount_input"
                       value="{{ template.primary_field }}">

                <div style="clear: both;"></div>
            </div>
            <div>
                <span style="padding-top: 15px;">Опишите условия акции</span>
                <input type="text" id="discount_description_input"
                       value="{{ template.secondary_field }}">

                <div style="clear: both;"></div>
            </div>
        </div>
        <div class="item only_t3">
            <div>
                <span class="spec_after">Выберите дату</span>
                <input type="text" id="event_date_input"
                       value="{{ template.expirationDate|datetime('medium') }}">

                <div style="clear: both;"></div>
            </div>
            <div>
                <span style="padding-top: 15px;">Укажите описание мероприятия</span>
                <input type="text" id="event_description_input"
                       value="{{ template.secondary_field }}">

                <div style="clear: both;"></div>
            </div>
        </div>
        <button class="normal">Оборотная сторона карты</button>
        <div class="item">
            <div>
                <span class="spec_after">Заполните поле контакты</span>
                <textarea
                        placeholder="Введите контактную информацию (сайт, адрес торговой точки, телефон, e-mail)"
                        class="small"
                        id="contacts_input">{{ template.contacts_field }}</textarea>

                <div style="clear: both;"></div>
            </div>
            <div style="margin-top: 20px;" class="only_t3">
                <div class="check_confirm_wrapper">
                    <input type="checkbox" id="confirm_input">
                </div>
                <span>
                    Установите чекбокс, чтобы поместить на обратной стороне
                    карту ссылку для подтверждения участия.
                </span>

                <div style="clear: both;"></div>
            </div>
            <div>
                <span style="padding-top: 15px;">Заполните поле условия</span>
                <textarea placeholder=""
                          class="small"
                          id="conditions_input">{{ template.rules_field }}</textarea>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
    <div class="shab_items">
        <button class="normal more locker locker_address"><span
                class="header_triangle"></span>Уведомления по геопозиции
        </button>
        <div class="item">
            <div>
                <div class="logo_wrapper">
                    <div class="notifications_icon_wrapper
                    bind-notifications-icon">
                    </div>
                </div>
                <span class="lefted_h3 lefted">
                    Добавьте иконку для уведомления
                </span>
                <span class="lefted">
                    Изображение в формате png, размер поля под логотип 50x50px.
                </span>

                <div style="clear: both"></div>
                <div class="load">
                    <a href="#123" title="Заменить изображение"
                       class="send normal">Заменить изображение</a>
                    <input type="file" class="notifications_icon_input">
                </div>
            </div>
            <div class="address_place">
                <div class="addresses">
                    {% for location in template.locations %}
                        {% include "templates/includes/place.jinja2" %}
                    {% endfor %}
                </div>
                <div class="address_form">
                    <div>
                        <span>Введите адрес</span>
                        <input type="text" placeholder="Введите адрес"
                               class="address_input">

                        <div style="clear: both;"></div>
                        <div style="text-align: right;">
                            <a href="#123" title="Отправить"
                               class="send address_search_btn">
                                Найти точку
                            </a>
                        </div>
                        <div class="holder"></div>
                        <div style="clear: both;"></div>
                    </div>
                    <div>
                        <span>Введите текст уведомления</span>
                        <input type="text"
                               placeholder="Текст вашего уведомления"
                               class="address_legend_input">
                        <span class="tips">Не более 20 символов</span>

                        <div style="clear: both;"></div>
                    </div>
                    <div style="text-align: right;">
                        <a href="#123" title="Отправить"
                           class="send address_add_btn">
                            Добавить еще точку
                        </a>
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </div>
        </div>
    </div>
</div>